<img src="task.PNG">

**Построить полиномы заданного порядка, вывести необходимые таблицы.
Выполнить обратное интерполирование, считая, что у данной функции нет обратной, для этого построить многочлен нужной степени и, прировняв к заданному значению, найти корень уравнения**

## Нужные библиотеки

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sympy import *
import pandas as pd

## Используемые функции

In [41]:
def f(x):
    return np.cos(x)

def get_D(y):
    d1 = np.array([])
    d2 = np.array([])
    d3 = np.array([])
    d4 = np.array([])

    for i in range(0, 5):
        d1 = np.append(d1, y[i + 1] - y[i])
        if (i > 0 & i < 5): 
            d2 = np.append(d2,d1[i] - d1[i - 1])
            if (i > 1 & i < 5): 
                d3 = np.append(d3,d2[i - 1] - d2[i - 2])
                if(i > 2 & i < 5): 
                    d4 = np.append(d4,d3[i -2] - d3[i - 3])
    return d1,d2,d3,d4

def find_i(x, h, x0):
    j = 0
    for i in range(x.size):
        if(x[i]+h/2 > x0):
            j = i
            break
    return j

def P(x_iter, x0, y0, h, d1, d2, d3, d4):
    t = (x_iter - x0) / h
    result = y0 + t*d1 + (t*(t-1)/2) * d2 + (t*(t-1)*(t-2) / 6) * d3 + (t*(t-1)*(t-2)*(t-3) / 24) * d4
    return result

def evalPoly(a,xData,x): 
    n = len(xData) - 1 # Degree of polynomial 
    p = a[n] 
    for k in range(1,n+1): 
        p = a[n-k] + (x -xData[n-k])*p 
    return p

def coeffts(xData,yData): 
    m = len(xData) 
    a = yData.copy() 
    for k in range(1,m): 
        a[k:m] = (a[k:m] - a[k-1])/(xData[k:m] - xData[k-1]) 
    return a

### дано

In [3]:
h = 0.1
x0 = -(0.5)
xn = 0.6

<font color='red' size="5">Таблица значений функции</font>

In [4]:
x = np.arange(x0, xn, h)
y = [f(i) for i in x]
d = {'x': x , 'cos(x)': y}
df = pd.DataFrame(data=d)
df

               x    cos(x)
0  -5.000000e-01  0.877583
1  -4.000000e-01  0.921061
2  -3.000000e-01  0.955336
3  -2.000000e-01  0.980067
4  -1.000000e-01  0.995004
5  -1.110223e-16  1.000000
6   1.000000e-01  0.995004
7   2.000000e-01  0.980067
8   3.000000e-01  0.955336
9   4.000000e-01  0.921061
10  5.000000e-01  0.877583

<font color='red' size="5">Конечные разницы</font>

In [5]:
d1, d2, d3, d4 = get_D(y)
 
df["d1"] = pd.Series(d1)
df["d2"] = pd.Series(d2)
df["d3"] = pd.Series(d3)
df["d4"] = pd.Series(d4)

df

               x    cos(x)        d1        d2        d3        d4
0  -5.000000e-01  0.877583  0.043478 -0.009203 -0.000342  0.000095
1  -4.000000e-01  0.921061  0.034275 -0.009545 -0.000247  0.000098
2  -3.000000e-01  0.955336  0.024730 -0.009793 -0.000149  0.000099
3  -2.000000e-01  0.980067  0.014938 -0.009942 -0.000050  0.000100
4  -1.000000e-01  0.995004  0.004996 -0.009992  0.000050  0.000099
5  -1.110223e-16  1.000000 -0.004996 -0.009942  0.000149  0.000098
6   1.000000e-01  0.995004 -0.014938 -0.009793  0.000247  0.000095
7   2.000000e-01  0.980067 -0.024730 -0.009545  0.000342       NaN
8   3.000000e-01  0.955336 -0.034275 -0.009203       NaN       NaN
9   4.000000e-01  0.921061 -0.043478       NaN       NaN       NaN
10  5.000000e-01  0.877583       NaN       NaN       NaN       NaN

<font color='red' size="5">Значения функции в точках интерполирования</font>

In [6]:
i = find_i(x, h, 0.05)

delta_y_0 = y[i]

if(i+1 >= d1.size):
    delta_y_1 = 0
else:
    delta_y_1 = d1[i+1]
if(i+2 >= d2.size):
    delta_y_2 = 0
else:
    delta_y_2 = d2[i+2]
if(i+3 >= d3.size):
    delta_y_3 = 0
else
    delta_y_3 = d3[i+3]
if(i+4 >= d4.size):
    delta_y_4 = 0
else:
    delta_y_4 = d4[i+4]

p = P(0.05, x[i], delta_y_0, h, delta_y_1, delta_y_2, delta_y_3, delta_y_4)

In [7]:
ff = f(0.05)

In [8]:
error = abs(ff - p)

In [9]:
error

0.0051678478697054775

<font color='red' size="5">Интерполирование в неравностоящих узлах</font>

In [42]:
x = np.array([-0.5, -0.3, -0.1, 0, 0.2, 0.5])

In [43]:
y = [f(i) for i in x]
d = {'x': x , 'cos(x)': y}
df = pd.DataFrame(data=d)
df

     x    cos(x)
0 -0.5  0.877583
1 -0.3  0.955336
2 -0.1  0.995004
3  0.0  1.000000
4  0.2  0.980067
5  0.5  0.877583

In [44]:
y

[0.8775825618903728,
 0.955336489125606,
 0.9950041652780258,
 1.0,
 0.9800665778412416,
 0.8775825618903728]

In [45]:
dd1, dd2, dd3, dd4 = get_D(y)
 
df["d1"] = pd.Series(dd1)
df["d2"] = pd.Series(dd2)
df["d3"] = pd.Series(dd3)
df["d4"] = pd.Series(dd4)

df

     x    cos(x)        d1        d2        d3        d4
0 -0.5  0.877583  0.077754 -0.038086  0.003414  0.006328
1 -0.3  0.955336  0.039668 -0.034672  0.009743 -0.067364
2 -0.1  0.995004  0.004996 -0.024929 -0.057621       NaN
3  0.0  1.000000 -0.019933 -0.082551       NaN       NaN
4  0.2  0.980067 -0.102484       NaN       NaN       NaN
5  0.5  0.877583       NaN       NaN       NaN       NaN

In [46]:
a = coeffts(x,y)

In [48]:
p = evalPoly(a,x,0.05)
ff = f(0.05)
error = abs(ff - p)

In [49]:
error

1.3455032299436454e-07